header {
  border-bottom: 1px outset white;
  margin-bottom: 10px;
  font-size: 50px;
  text-align: center;
}
footer {
  border-top: 1px outset white;
  font-size: 50px;
  text-align: center;
}

.c_background {
  background-color: black;
  color: white;
  font-family: sans-serif;
}
.c_h {
  background-color: #1d1d1d;
  border: 1px outset white;
  font-size: 40px;
}
.c_p {
  background-color: #1d1d1d;
  border: 1px outset white;
  margin-bottom: 30px;
  font-size: 20px;
}
.c_link_text {
  color: #2365d2;
  text-decoration: none;
}
.c_cmd {
  color: #c67d4e;
}
.c_note {
  color: #ff1212;
}