.c_background {
  background-color: black;
  color: white;
  font-family: sans-serif;
}
.c_h {
  font-size: 40;
  text-align: center;
}
.c_p {
  font-size: 25;
}
.c_link_text {
  color: #2365d2;
  text-decoration: none;
}
.c_cmd {
  color: #c67d4e;
}
.c_note {
  color: #ff1212;
}